<h1>Welcome Shelter Worker</h1>
<div class="row">
  <div class="col-xs-4">
    <a href="/admin/animals"><button type="button" class="btn">Add Animal</button></a>
  </div>
  <div class="col-xs-4">
    <a href="/admin/customers"><button type="button" class="btn">Add Customer</button></a>
  </div>
  <div class="col-xs-4">
    <a href="/admin/chronological_animals"><button type="button" class="btn">Residents</button></a>
  </div>
</div>
