<div class="well">
  <h1>Welcome to Elrey's Cuddle Ainmal Shelter</h1>
  <div class="row">
    <div class="col-xs-6">
      <a href="/admin"><button type="button" class="btn">Shelter Worker</button></a>
    </div>
    <div class="col-xs-6">
      <a href="/customer"><button type="button" class="btn">Potential Owner</button></a>
    </div>
  </div>
</div>
